<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
  </head>
  <body style="background-color: rgb(248, 249, 250);">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white rounded">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
      </nav>

        
      {% block body %}
      {% endblock %}


    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>
    <script>

      //SHOW SELECTED FILE FROM LOCAL
      function renderImage(file,view){
        const reader = new FileReader()

        // inject an image with the src url
        reader.onload = function(event) {
          the_url = event.target.result
          const img = document.getElementById(view)
          img.src = the_url
        }
          // when the file is read it triggers the onload event above.
          reader.readAsDataURL(file)
      } 

      $("#imageFile").change(function() {
          const imageLabel = document.getElementById('imageLabel')
          imageLabel.lastChild.data=this.files[0].name

          // grab the first image in the FileList object and pass it to the function
          renderImage(this.files[0],'imageView')
      });

      $("#imageFileOriginal").change(function() {
          const imageLabel = document.getElementById('imageLabelOriginal')
          imageLabel.lastChild.data=this.files[0].name

          // grab the first image in the FileList object and pass it to the function
          renderImage(this.files[0],'imageViewOriginal')
      });

      $("#imageFileStegano").change(function() {
          const imageLabel = document.getElementById('imageLabelStegano')
          imageLabel.lastChild.data=this.files[0].name

          // grab the first image in the FileList object and pass it to the function
          renderImage(this.files[0],'imageViewStegano')
      });

      $("#textFile").change(function() {
          const textLabel = document.getElementById('textLabel')
          textLabel.lastChild.data=this.files[0].name
      });

      //SET PRIVATE KEY

      $(function() {
          $('#setPassword').change(function() {
            $('#password1')[0].disabled = $('#password2')[0].disabled = !$(this).prop('checked')
          })
      })

      // VALIDATION PRIVATE KEY
      $(function(){
          $('#password2').keyup(function(){
              $('#submit')[0].disabled = !($('#password1')[0].value===$(this)[0].value)
          })
      })

    </script>
  </body>
</html>