{% extends "base.html" %}
{% block title %}Steganografi-electron-Flask{% endblock %}
{% block body %}


<div class="container-fluid mt-5">
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 mb-4">
				<div class="card" style="width: 98%;">
				  <img class="card-img-top" src="{{ url_for('static', filename='assets/noimage.png') }}" alt="Card image cap" id="imageView">
				  <div class="card-body">
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				</div>
			</div>

			<div class="col-md-6 col-sm-12">
				<form class="was-validated " method=POST enctype=multipart/form-data action="{{ url_for('upload_file') }}">
				  
				  <div class="custom-file mb-3">
				    <input type="file" class="custom-file-input" id="imageFile" required name="image" >
				    <label class="custom-file-label" for="imageFile" id="imageLabel">Choose Image...</label>
				  </div>

				  
				  <div class="custom-file mb-3">
				    <input type="file" class="custom-file-input" id="textFile" required name="massage">
				    <label class="custom-file-label" for="textFile" id="textLabel">Choose Message...</label>
				  </div>

				  <div class="form-group row mb-3">
					<label class="col-md-4 col-form-label">Set Private Key? </label>
				    <div class="checkbox col-md-8">
				      	<input data-toggle="toggle" data-size="normal" data-on="Yes" data-off="No" data-onstyle="primary" data-offstyle="danger" type="checkbox" id="setPassword" name="reqpassword">
				    </div>	
				  </div>
					
				  <div class="form-group row mb-3">
				    <label for="password1" class="col-sm-12 col-md-4 col-form-label">Private Key</label>
				    <div class="col-sm-12 col-md-8">
				      <input type="password" class="form-control" id="password1" placeholder="Private Key" disabled>
				    </div>
				  </div>

				  <div class="form-group row mb-3">
				    <label for="password2" class="col-sm-12 col-md-4 col-form-label">Re-Enter Key</label>
				    <div class="col-md-8 col-sm-12">
				      <input type="password" class="form-control" id="password2" placeholder="Re-Enter Key" disabled name="password">
				    </div>
				  </div>

					
					<button class="btn btn-primary mr-2" type="submit" id="submit">Submit form</button>
					<button type="button" class="btn btn-danger ml-2">Cancel</button>
				</form>

			
				{% if ERRORS_LOG %}
				<div class="alert alert-danger mt-4" role="alert">
					<h4>Submit Failed :</h4>
					  {% for err in ERRORS_LOG %}
					  	<li>{{err}}</li>
					  {% endfor %}
				</div>
				{% endif %}

			</div>



		</div>
	</div>
</div>

{% endblock %}